@import '~@alife/next/index.scss'; // 导入 next 的样式

@import "~@alife/next/variables.scss";

// test styles
body {
    width: 960px;
    margin: 20px auto;
    background: #fff;
}

$sidebar-bg-color: $color-n1-6 !default;